@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "Inder";
  src: url(./assets/Fonts/Inder-Regular.ttf);
}
@font-face{
  font-family: "Irish";
  src: url(./assets/Fonts/IrishGrover-Regular.ttf);
}

:root {
  --font-inder: "Inder", Arial, Helvetica, sans-serif;
  --font-irish: "Irish", Arial, Helvetica, sans-serif;
}

.font-inder{
  font-family: var(--font-inder);
}
.font-irish{
  font-family: var(--font-irish);
}